HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!src/main/**/target/
!src/test/**/target/
*.jar
*.log
dependency-reduced-pom.xml

**/prod_*.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!src/main/**/build/
!src/test/**/build/

### VS Code ###
.vscode/
logging/

.metals
.bloop

.flattened-pom.xml
